.header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90px;

    &__container {

        &__row {
            display: flex;
            justify-content: center;
            align-items: center;

            &__logo {
                
                &__link {
                    font-size: 35px;
                    font-weight: bold;
                    font-family: "FunnelSans-Bold";
                    line-height: 1.5;
                }
            }
        }
    }
}